body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: x-large;
}

#new-book-button {
  align-self: center;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

form button {
  align-self: center;
}

ol {
  padding: 0;
  list-style-position: inside;
}

ol li {
  margin: 5px 0;
  padding: 5px;
}

ol li * {
  margin-right: 5px;
}

ol li:nth-child(odd) {
  background-color: lightgray;
}
