body {
  position: relative;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: x-large;
}

#new-book-button {
  align-self: center;
  font-size: large;
}

dialog {
  position: absolute;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

ol {
  list-style-position: inside;
}

ol li {
  margin: 5px 0;
  padding: 5px;
}

ol li:nth-child(odd) {
  background-color: lightgray;
}